Project: {{ name }}
{% if project_id %}ID: {{ project_id }}
{% endif %}{% if environments %}{% for env in environments %}
Environment: {{ env.name }}
{% if env.applications %}Applications:
{% for app in env.applications %}• {{ app.label }}
{% if app.status %}  Status: {{ app.status }}
{% endif %}{% endfor %}{% endif %}{% if env.databases %}Databases:
{% for db in env.databases %}• {{ db.label }}
{% if db.status %}  Status: {{ db.status }}
{% endif %}{% endfor %}{% endif %}{% if env.compose %}Compose:
{% for c in env.compose %}• {{ c.label }}
{% if c.status %}  Status: {{ c.status }}
{% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}